:root {
    --color-cinder: #1E2B2F;
    --color-cinder-darker: #192024;
    --color-white-foam: #F4F2F1;
    --color-reddish-accent: #be5624;
}

body{
    background-color: #192024;
}

header, footer {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white-foam);
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Navbar */
nav {
    background-color: var(--color-cinder);
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav ul li a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--color-white-foam);
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #192024;
}
nav li:first-child {
    margin-right: auto;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: var(--color-cinder);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    transition: transform 0.4s ease;
}
.sidebar-hidden {
    transform: translateX(100%);
}

/* Container Cards */
div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* para no tapar header */
}
div#container .card {
    height: 5rem;
    width: 15rem;
    margin: 0.5rem;
    border-radius: 20px;
    background-color: var(--color-reddish-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.228);
    transition: transform 0.2s;
}
div#container .card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
    background-color: var(--color-cinder-darker);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}
footer h3 {
    border-bottom: 1px solid #DAD3C9;
    padding-bottom: 10px;
}
.footer-contactos a {
    text-decoration: none;
    color: var(--color-white-foam);
}
.footer-contactos a:hover {
    color: var(--color-reddish-accent);
}

/* Overlay para sidebar */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 900;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Responsive */
@media (max-width: 800px){
    footer {
        flex-direction: column;
    }
}
