body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

.card-body {
    padding: 30px;
}

h3 {
    color: #198754; /* verde bootstrap */
    font-weight: bold;
}

button {
    width: 120px;
}

 .login-container {
    max-width: 400px;
    margin: 50px auto;
}

.login-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.parsley-errors-list {
    color: red;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 0.9em;
}
.input-group-text i {
    color: black; /* Iconos negros */
}
.input-group .parsley-errors-list {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}
