/* tp2.css */


/* Contenedor del login */
.login-container {
    max-width: 400px;
    margin: 120px auto 50px auto; /* espacio para header */
}

/* Caja del login (clara, como querías) */
.login-box {
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; /* caja clara */
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* Título */
.login-box h3 {
    color: #198754;
    font-weight: bold;
}

/* Inputs */
.input-group-text {
    background-color: #fff;
    border: none;
}

.input-group-text i {
    color: black;
}

.form-control {
    border: none;
    outline: none;
    background-color: #fff;
}

/* Botón */
button {
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
}

